
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/style-admin-paper.css">

    <title>NodeJs</title>
</head>
<body>

    <div class="header-admin">
        <p><strong>Admin Paper</strong></p>
    </div>
    <div class="header-main-edit"  >
        <ul style="margin-left: 30%;">
            <li><button><a href="/admin/category">Edit Catelory</a></button></li>
            <li><button><a href="/admin/product">Edit Product</a></button></li>
            <li><button><a href="/admin/order">List Order</a></button></li>
        </ul>
    </div>
    
</body>
</html>